* {
  box-sizing: border-box;
}
.myProjects h1 {
  font-size: 400%;
  text-align: center;
  margin-top: auto;
  margin-bottom: 50px;
  font-family: arvoBold;
}

.fightingGame {
  
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 80px;

}

.fightingGame p {
  color: rgb(0, 0, 0);
  max-width: 50ch;
  font-size: x-large;
  font-family: arvoRegular;
}

.fightingGame img {
  max-width: 100%;
  height: auto;
}

.prizeFightButton {
  position: relative;
  margin-right: 600px;

}

.Cryptis {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 100px;
  padding: 0 12rem;
}

.Cryptis p {

  color: rgb(0, 0, 0);
  max-width: 50ch;
  font-size: x-large;
  font-family: arvoRegular;
}

.Cryptis img {
  max-width: 300px;
}

.Cryptis Button {
  top: 1120px;
  right: 27%;
  border: none;
}
.buttonF{
  position: relative;
  bottom:250px;
  right:400px;
}